<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <title>Indonesia Restaurant Apps</title>
    <meta name="description" content="Aplikasi untuk menemukan restoran-restoran terbaik di Indonesia. Temukan restoran favorit Anda dan nikmati makanan lezat.">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Poppins:wght@300&display=swap" rel="stylesheet" type="text/css">
  </head>
  <body>
    <a href="#main-content" class="skip-link">Skip to Content</a>

    <header>
      <nav id="drawer" class="nav">
        <div class="nav_header">
          <h3 class="nav_title">Indonesia Restaurant Apps</h3>
          <button id="menu-button" class="nav_menu" aria-label="Toggle Menu"><i class="bi bi-list"></i></button>
        </div>
        <ul class="nav_list">
          <li class="nav_list_item"><a href="/">Home</a></li>
          <li class="nav_list_item"><a href="#">Favorite</a></li>
          <li class="nav_list_item"><a href="https://www.linkedin.com/in/hasna-paramesti/" target="_blank">About Us</a></li>
        </ul>
      </nav>
    </header>
  
    <div class="hero">
      <div class="hero_inner">
        <h1 class="hero_title">Find Your Favorite Restaurant Here!</h1>
      </div>
    </div>

    <main id="main-content">
      <section class="content">
        <div class="catalogue">
          <h1 class="catalogue_title">Available Restaurants</h1>
        </div>
        <div class="restaurant-list">
        </div>
      </section>
    </main>

    <footer class="footer">
      <p>&copy; 2023 - Indonesia Restaurant Apps</p>
    </footer>
  </body>
</html>
